.CV-App{
    display: grid;
    grid-template-columns: 500px 800px;
}
#CV {    
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 20px;

}

.form {
}

.form-title{
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: grid;
    grid-template-columns: 150px 1fr;
}
input {
    display: flex;
    

    margin-left: 20px;
}

.edit-layout {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.edit-btn {
    
}

.extra {
    display: flex;
    justify-content: end;
}


.school, 
.company,
.general {
    border: 1px solid black;
    padding: 10px;
}